{{!-- Only show these fields when editing an existing group --}}
{{#if group.id}}

  <div class="control-group">
    <label>
      {{text-field name="tracked_post_icon"
        value=group.extra_classes
        focus-out=(action "extraClassesChanged")
        placeholderKey="extra_group_classes.placeholder"
        disabled=(if group.track_posts false true)}}
      {{i18n 'extra_group_classes.description'}}
    </label>
  </div>
{{/if}}
