{{!-- Only show these fields when editing an existing group --}}
{{#if group.id}}

  <div class="control-group">
    <label>
      {{list-setting
        name="extra_classes"
        class="extra-classes"
        value=extraClasses
        choices=extraClasses
        settingName="name"
        nameProperty=null
        valueProperty=null
        onChange=(action "extraGroupClassesChanged")
        options=(hash allowAny=true)
      }}
      {{i18n 'extra_group_classes.description'}}
    </label>
  </div>
{{/if}}
